from modules.user_views.application.invalidate_cache.invalidate_user_views_cache import (
    InvalidateUserViewsCache,
)
from modules.users.domain.user_repository import UserRepository


class EntityCreator:
    def __init__(
        self,
        entity_repo: UserRepository,
        cache_invalidator: InvalidateUserViewsCache,
    ) -> None:
        self._entity_repo = entity_repo
        self._cache_invalidator = cache_invalidator

    def run(self, *, id: str, name: str, email: str) -> None:
        # Business logic here
        self._entity_repo.save(entity)
        self._cache_invalidator.invalidate_all()


class EntityUpdater:
    def __init__(
        self,
        entity_repo: UserRepository,
        cache_invalidator: InvalidateUserViewsCache,
    ) -> None:
        self._entity_repo = entity_repo
        self._cache_invalidator = cache_invalidator

    def run(self, *, id: str, name: str | None = None) -> None:
        # Business logic here
        self._entity_repo.save(entity)
        self._cache_invalidator.invalidate_all()
